<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <div id="main">
        <div id="recoveryform">
            <h2>Reset your password</h2>
            <form id="resetform" action="/account_recovery/verify/resetpassword" method="post">
                <label for="password">Enter new password</label>
                <input type="password" name="newPassword" id="new_password">
                <label for="confirm_password">Confirm password</label>
                <input type="password" name="confirmNewPassword" id="confirm_new_password">
                <button type="submit" id="submit">Change Password</button>
            </form>
            <!-- <h1 id="warning"></h1> -->
            
            <% if (errors && errors.length > 0) { %>
                <div class="alert alert-danger">
                    <% errors.forEach(error => { %>
                        <p><%= error.msg %></p>
                    <% }); %>
                </div>
            <% } %>
        </div>

    </div>
    <!-- <script>
        const resetform = document.querySelector('#resetform');
        const password = document.querySelector('#new_password');
        const confirm_password = document.querySelector('#confirm_new_password');
        const warning = document.querySelector("#warning");

        resetform.addEventListener('submit', function (event) {
            if (password.value !== confirm_password.value) {
                event.preventDefault();
                let warn = "Passwords don't match";
                warning.innerHTML = warn;
            }
        });

    </script> -->

    <script>
        const password = document.querySelector('#new_password');
        const confirm_password = document.querySelector('#confirm_new_password');

        function passwordCheck(){
            if(password.value !== confirm_password.value){
                password.style.border = "1px solid red"
                confirm_password.style.border = "1px solid red"
            }
            else{
                password.style.border = "1px solid green"
                confirm_password.style.border = "1px solid green"
            }
        }
        confirm_password.addEventListener('change', function(){
                passwordCheck()
        })
    </script>
</body>
</html>