<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/video.css">
</head>
<body>
    <div id="main">
        <div id="videowrapper">
            <video controls preload="metadata">  
                <source src="/files/<%= cachefile.name %>" type="video/mp4">  
                <!-- Your browser does not support the html video tag.   -->
              </video>
              <!-- <select id="qualitySelector">
                <option value="auto">Auto</option>
                <option value="0">Low</option>
                <option value="1">Medium</option>
                <option value="2">High</option>
              </select> -->
            <!-- <h1>lo bhaisahab video</h1> -->
        </div>
    </div>
</body>
</html>